language: python

python:
  - "2.7"

virtualenv:
  system_site_packages: true

before_install:
  - sudo add-apt-repository --yes ppa:kalakris/cmake
  - sudo apt-get update -qq
  - sudo apt-get install cmake wget
  - wget ftp://ftp.gromacs.org/pub/gromacs/gromacs-4.6.7.tar.gz
  - tar xfz gromacs-4.6.7.tar.gz
  - cd gromacs-4.6.7
  - mkdir build
  - cd build
  - cmake .. -DGMX_BUILD_OWN_FFTW=ON
  - make -j 2
  - sudo make install
  - source /usr/local/gromacs/bin/GMXRC
  - cd ../..

install:
  - pip install coverage
  - pip install coveralls
  - pip install pytest
  - pip install -r requirements.txt
  - pip install .

script:
  - coverage run --rcfile=.coveragerc --source=intermol setup.py tests

after_script:
  - coveralls
