language: python
python:
  - "2.7"
  - "3.4"
  - "pypy"

sudo: false
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gromacs

before_install:
  # Build LAMMPS
  - wget http://lammps.sandia.gov/tars/lammps-15May15.tar.gz
  - tar xfz lammps-15May15.tar.gz
  - cd lammps-15May15/src
  - make serial -j 2
  - mkdir $HOME/bin
  - mv lmp_serial $HOME/bin
  - export PATH=$PATH:$HOME/bin
  - cd ../..

install:
  - pip install coverage
  - pip install coveralls
  - pip install pytest
  - pip install -r requirements.txt
  - pip install .

script:
  - coverage run --rcfile=.coveragerc --source=intermol setup.py tests

after_script:
  - coveralls
