annealing = false
backend = {
}
coulomb_method = "pme"
cpu = [1 1 1 ]
cutoff_radius = 10.0
elapsed_time = 0.0
eneseq = {
   first = 0.0
   interval = 0.002
   name = "$JOBNAME.ene"
}
maeff_output = {
   first = 0.0
   interval = 0.002
   name = "$JOBNAME-out.cms"
   trjidx = "$JOBNAME-out.idx"
}
simbox = {
   first = 0.0
   interval = 0.0
   name = "$JOBNAME_simbox.dat"
}
#energy_groups = {
#  first = 0.0
#  interval = 0.002
#  name = "$JOBNAME.ene_group"	
#}
ensemble = {
 class = "NVE"
}

meta = false
taper = false
temperature = 300.0
time = 0.002
timestep = [0.002 0.002 0.002 ]
